
<div class="card" >
  <div class="card-body">
    <h5 class="card-title"><%= step.city.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">duration : <%= step.duration %></h6>
    <p class="card-text">distance to next step <%= api_step['distance'] %> <%=%>m</p>

    <a href="#" class="card-link"> <a href="#<%= step.city.name %>">Details</a></a>

  </div>
</div>
