<div class="container "></div>
<h2>Details of the activities</h2>
<p>A little sentence about how this page works and what the user should do.</p>
<div class="preferences d-flex">
<div class="filter">beach :<%= @trip.criteria["beach"] %>%</div>
<div class="filter">sport :<%= @trip.criteria["sport"] %>%</div>
<div class="filter">culture : <%= @trip.criteria["culture"] %>%</div>
<div class="filter">visit: <%= @trip.criteria["visit"] %>%</div>
</div>

<div class="container d-flex">

<div class="map sticky-top">
  <button type="button" class="btn btn-success"><b>Save</b></button>
</div>
<div class="list-activity">
  <h3>Your activities</h3>

<div class="steps">
  <%= @trip.steps.each do |step|%>
  <div class="step-details d-flex">
    <p><%= step.city.name %></p>

  <%# step.activities.each do |activity|  %>
  <%#= activity.name %>
  <%# end %>
<% end %>
  </div>
</div>
</div></div>

<!--   <div class="step-details d-flex">
    <p>Step 1</p>
  </div>
 -->
<!--
<div class="card">vos steps
  steps.each do
<div class="step">ville de la step
  step.activities.all
  <div class="activity"></div>
</div>


</div>
 -->
