<h1>Trips#edit</h1>



<%= simple_form_for(@trip) do |f| %>
  <%= f.label :arrival_city, collection: ["Florence", "Rome", "Naples", "Bologne", "Bari", "Positano", "Anzio", "Piombino"] %>
  <%= f.text_field :departure_city, collection: ["Florence", "Rome", "Naples", "Bologne", "Bari", "Positano", "Anzio", "Piombino"] %>
  <%= f.label :start_date, as: :date %>
  <%= f.text_field :end_date, as: :date %>
  <%= f.submit %>
<% end %>
