
<div class="container-fullscreen">
<div class="container" style = "margin: auto; margin-top: 150px;">
  <h5 class="mb-5">My trips ( <%= @trips.count %> )</h5>

  <% @trips.reverse().each do |trip| %>
    <%= link_to details_trip_path (trip) do%>
      <div class="card-trip mb-6">
        <%= image_tag(trip.steps.first.activities.first.photo)%>
        <div class="card-trip-infos">
          <div>
            <h2><%= trip.arrival_city.name %> to <%= trip.departure_city.name %></h2>
          </div>
          <p> Starting <%= trip.start_date.to_formatted_s(:short) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
