
  <div class="tabs-container">
    <div class="tab-button">1</div>
    <hr>
    <div class="tab-button">2</div>
    <hr>
    <div class="tab-button">3</div>
    <hr>
    <div class="tab-button" id="go-button">Go</div>
  </div>

<%= simple_form_for @trip do |f| %>
           <!-- Planning 1 -->
 <div class="criteria-slider">
 <div class="form-container-criteria-slider" style="margin-bottom: 3vh; important!">
      <h1 class="mb-2 text-center form-header">Create your trip</h1>
      <div class="d-flex justify-content-center">
        <div class="col-md-6 mt-3">
    <!-- Planning 1 -->
    <!-- <div class="d-flex justify-content-center"> -->
      <!-- <div class="col-md-6 mt-8"> -->
          <%= f.association :arrival_city %>
          <%= f.association :departure_city %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= hidden_field_tag :criteria %>
          <div class="pt-2 mb-6 d-flex justify-content-end">
          <span class="btn-next green-btn">
            Next
          </span>
          </div>
       </div>
    </div>
 </div>
        <!-- Planning 2 -->
    <div class="form-container-criteria-slider">
     <h1 class="mb-2 text-center form-header">Choose preferences</h1>
    <div class="d-flex justify-content-center pb-4">
      <div class="col-md-6 mt-3">
        <!-- <form action="/trips/<%= @trip.id %>" method="post"> -->
        <!-- <form action="/trips" method="post"> -->
<!--           <input name="_method" type="hidden" value="create" />
 -->          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-group">
            <label for="beach" class="d-flex justify-content-around">Beach</label>
            <input type="range" class="custom-range" name="trip[criteria][beach]" min="0" max="100" step="1" id="beach" >
          </div>

          <div class="form-group">
           <label for="sport" class="d-flex justify-content-around">Sport</label>
            <input type="range" class="custom-range" name="trip[criteria][sport]" min="0" max="100" step="1" id="sport">
          </div>

          <div class="form-group">
            <label for="culture" class="d-flex justify-content-around">Culture</label>
            <input type="range" class="custom-range" name="trip[criteria][culture]" min="0" max="100" step="1" id="culture">
          </div>
          <div class="form-group">
            <label for="visit" class="d-flex justify-content-around">Visit</label>
            <input type="range" class="custom-range" name="trip[criteria][visit]" min="0" max="100" step="1" id="visit">
          </div>
        <!--</form>  -->
      </div>
    </div>
      <div class=" btn-next d-flex justify-content-start col-md-6 ">
          <%= f.button :submit, value: "Next",class: "green-btn" %>
      </div>
    </div>


        <!-- Planning 3 -->
    <!-- <div>
    <h1 class="mb-4 text-center">Select activities</h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-8">
      <div class="form-post"> -->
        <!-- Inject categories here -->
     <!--  </div>
      </div>
    </div> -->

    </div>
  </div>
<% end %>

