

  <div class="form-container form-border">
    <div class="tabs-container">
     <div class="tab-button tab-active">1</div>
     <hr>
     <div class="tab-button">2</div>
     <hr>
     <div class="tab-button">3</div>
   </div>
    <h1 class="mb-4 text-center">New trip</h1>

    <!-- Planning 1 -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-8">
        <%= simple_form_for @trip do |f| %>
          <%= f.association :arrival_city %>
          <%= f.association :departure_city %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= hidden_field_tag :criteria %>
      <div class="d-flex justify-content-center mb-4">
        <%= link_to 'Next', new_trip_path(anchor: 'step2') %>
        <!-- <button class="green-btn" id="buttonOne">Next</button> -->
      </div>
      </div>
      </div>
    </div>
    <!-- Planning 2 -->
  <div class="form-container form-border" id="step2">
   <div class="tabs-container">
     <div class="tab-button">1</div>
     <hr>
     <div class="tab-button tab-active">2</div>
     <hr>
     <div class="tab-button">3</div>
   </div>
    <h1 class="mb-4 text-center">Choose preferences</h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-8">
        <!-- <form action="/trips/<%= @trip.id %>" method="post"> -->
        <!-- <form action="/trips" method="post"> -->
<!--           <input name="_method" type="hidden" value="create" />
 -->          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-group">
            <label for="beach">Beach</label>
            <input type="text" class="form-control" id="beach" name="trip[criteria][beach]" placeholder="20%">
          </div>
          <div class="form-group">
            <label for="sport">Sport</label>
            <input type="text" class="form-control" id="sport" name="trip[criteria][sport]"placeholder="20%">
          </div>
          <div class="form-group">
            <label for="culture">Culture</label>
            <input type="text" class="form-control" id="culture" name="trip[criteria][culture]"placeholder="20%">
          </div>
          <div class="form-group">
            <label for="visit">Visit</label>
            <input type="text" class="form-control" id="visit" name="trip[criteria][visit]"placeholder="20%">
          </div>
            <button class="green-btn next" id="buttonTwo">Next</button>
        </form>
      </div>
    </div>
</div>
<% end %>

    <!-- Planning 3 -->
  <div class="form-container form-border" id="step3">
   <div class="tabs-container">
     <div class="tab-button">1</div>
     <hr>
     <div class="tab-button">2</div>
     <hr>
     <div class="tab-button tab-active">3</div>
   </div>
    <h1 class="mb-4 text-center">Select activities</h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-8">
        <form action="/trips/<%= @trip.id %>" method="post">
          <input name="_method" type="hidden" value="create" />
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <!-- <div class="form-group">
            <label for="beach">Beach</label>
            <input type="text" class="form-control" id="beach" name="trip[criteria][beach]" placeholder="20%">
          </div>
          <div class="form-group">
            <label for="sport">Sport</label>
            <input type="text" class="form-control" id="sport" name="trip[criteria][sport]"placeholder="20%">
          </div>
          <div class="form-group">
            <label for="culture">Culture</label>
            <input type="text" class="form-control" id="culture" name="trip[criteria][culture]"placeholder="20%">
          </div>
          <div class="form-group">
            <label for="visit">Visit</label>
            <input type="text" class="form-control" id="visit" name="trip[criteria][visit]"placeholder="20%">
          </div> -->
            <button class="green-btn" id="buttonThree">Go!</button>
        </form>
      </div>
    </div>
  </div>

<%= javascript_pack_tag 'next' %>

