

<div class="tabs-container mt-3">
    <div class="tab-button">1</div>
    <hr>
    <div class="tab-button">2</div>
    <hr>
    <div class="tab-button">3</div>
    <hr>
    <div class="tab-button tab-active">Go</div>
</div>

<div class="container">
  <div class="d-flex mt-5">
    <div>
      <% @trip.steps.each do |step| %>
        <p> STEP - <%= step.city.name %></p>
        <% step.activities.each do |activity| %>
          <p><%= activity.name %> - <%= activity.duration %></p>
        <% end %>
     <% end %>
     </div>
     <%= link_to "Go", details_trip_path(@trip) %>
    <div
        id="map"
        style="width: 50%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>






<!-- <div>
  <p>FROM <%= @trip.start_date %> UNTIL <%= @trip.end_date %></p>
  <p>Total duration of activities: <%= @total_trip_duration %> min</p>
  <p>User criteria: <%= @trip.criteria %></p>
  <p>Ratio time in min: <%= @ratio_type_activities %></p>
  <p>TOTAL SELECTED ACTIVITIES: <%= @total_activities %> min</p>
</div>
<p>*************</p>

<ul>Beach
  <p><%= @list_acti_beach.count %> | <%= @total_beach %> min</p>
  <% @list_acti_beach.each do |act| %>
  <li><%= act.name %> - <%= act.duration %> min- <%= act.ranking_interest %> - <%= act.city.id%> - <%= act.activity_types%></li>
  <% end %>
</ul>

<ul>Culture
  <p><%= @list_acti_culture.count %> | <%= @total_culture %> min</p>
  <% @list_acti_culture.each do |act| %>
  <li><%= act.name %> - <%= act.duration %> min- <%= act.ranking_interest %> - <%= act.city.id%> - <%= act.activity_types%></li>
  <% end %>
</ul>

<ul>Sport
  <p><%= @list_acti_sport.count %> | <%= @total_sport %> min</p>
  <% @list_acti_sport.each do |act| %>
  <li><%= act.name %> - <%= act.duration %> min- <%= act.ranking_interest %> - <%= act.city.id%> - <%= act.activity_types%></li>
  <% end %>
</ul>

<ul>Visit
  <p><%= @list_acti_visit.count %> | <%= @total_visit %> min</p>
  <% @list_acti_visit.each do |act| %>
  <li><%= act.name %> - <%= act.duration %> min- <%= act.ranking_interest %> - <%= act.city.id%> - <%= act.activity_types%></li>
  <% end %>
</ul>

 -->

