<div class="banner">
  <div class="container">
    <h1>Tripper</h1>

    <p>Change your travel experience</p>
      <%= link_to "Try it for free", new_trip_path %>

  </div>
</div>

       <!--  <div class="parallax-wrapper">
            <div class="content-a">
        <%= link_to "Try it Free", new_trip_path, class: 'green-btn' %>
                <%= image_tag 'Benevento.jpg' , style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="regular-wrapper">
            <div class="content-b">
                <%= image_tag 'anzio-beach.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="parallax-wrapper">
            <div class="content-a">
                <%= image_tag 'Benevento.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="regular-wrapper">
            <div class="content-b">
                <%= image_tag 'anzio-beach.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div> -->

<div class="slider d-flex">
<div class="slide">
  <%= image_tag 'Benevento.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">

  <%= image_tag 'Ferrarese.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'colisee.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'CalaVerde.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'gandolfo.jpeg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'Albarobello.jpg' ,class:'photo-b' , style:'opacity: 0.8;' %>
</div>
</div>

<div class="voyage">
  <h4><i>"It's not about just seeing beautiful places, it's about seeing the beauty in every place"</i></h4>
</div>

<div class="explications">

  <div class="rea d-flex">
    <div class="photo1"></div>
    <div class="explain">
      <h4>No more preparation</h4>
      <p>You just need to fill in your arrival and departure dates and then indicate what you prefer to do when you are on vacation.</p>
      <a href="#">Let's go</a>
    </div>
 </div>
 <div class="rea d-flex">
    <div class="explain">
      <h4>New way of travel</h4>
      <p>You will no longer take much time to plan your trip and pass the plan on to your fellow travellers.</p>
      <a href="#">Let's go</a>
    </div>
    <div class="photo2"></div>
 </div>
 <div class="rea d-flex">
    <div class="photo3"></div>
    <div class="explain">
      <h4>Surprise effect guaranteed</h4>
      <p>You have the possibility to keep secret a certain number of steps so that the surprise effect is guaranteed.</p>
      <a href="#">Let's go</a>
    </div>
 </div>
</div>

<div class="newsletter">
</div>
