<div class="banner">
  <div class="container">
    <h1>Tripper</h1>

    <p>Change your travel experience</p>
      <%= link_to "Try it for free", new_trip_path %>

  </div>
</div>

       <!--  <div class="parallax-wrapper">
            <div class="content-a">
        <%= link_to "Try it Free", new_trip_path, class: 'green-btn' %>
                <%= image_tag 'Benevento.jpg' , style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="regular-wrapper">
            <div class="content-b">
                <%= image_tag 'anzio-beach.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="parallax-wrapper">
            <div class="content-a">
                <%= image_tag 'Benevento.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div>
        <div class="regular-wrapper">
            <div class="content-b">
                <%= image_tag 'anzio-beach.jpg', class:'photo', style:'opacity: 0.4;' %>
            </div>
        </div> -->

<div class="slider d-flex">
<div class="slide">
  <%= image_tag 'Benevento.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">

  <%= image_tag 'Ferrarese.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'colisee.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'CalaVerde.jpg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'gandolfo.jpeg' , class:'photo-b' , style:'opacity: 0.8;' %>
</div>
<div class="slide">
  <%= image_tag 'Albarobello.jpg' ,class:'photo-b' , style:'opacity: 0.8;' %>
</div>
</div>

<div class="voyage">
  <h4><i>"It's not about just seeing beautiful places, it's about seeing the beauty in every place"</i></h4>
</div>

<div class="explications">

  <div class="rea d-flex">
    <div class="photo1"></div>
    <div class="explain">
      <h4>No more preparation</h4>
      <p>You just need to fill in your arrival and departure dates and then indicate what you prefer to do when you are on vacation.</p>
      <a href="#">Let's go</a>
    </div>
 </div>
 <div class="rea d-flex">
    <div class="explain">
      <h4>New way of travel</h4>
      <p>You will no longer take much time to plan your trip and pass the plan on to your fellow travellers.</p>
      <a href="#">Let's go</a>
    </div>
    <div class="photo2"></div>
 </div>
 <div class="rea d-flex">
    <div class="photo3"></div>
    <div class="explain">
      <h4>Surprise effect guaranteed</h4>
      <p>You have the possibility to keep secret a certain number of steps so that the surprise effect is guaranteed.</p>
      <a href="#">Let's go</a>
    </div>
 </div>
</div>

<div class="newsletter">
  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=6ef839fa1bfb8b345eaf309b1&amp;id=b1c52c9a24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
