<h3 class="text-center trip-header-new mb-15">Your stay in <%= @step.city.name %></h3>
<% counter = 0 %>
<% @step.activities.each do |stepactivity| %>
<div class="trip-index-container col-md-8 px-0 mt-4">
  <div class="card-trip mb-8">
    <p class="absolute type-activity text-right pr-2"><i class="fas fa-star mr-1 "></i><%= stepactivity.ranking_interest %> /5</p>
    <p class="absolute type-activity "><%= stepactivity.activity_types %></p>
    <%=image_tag(stepactivity.photo) %>
    <div class="card-trip-infos">
      <div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex align-items-center justify-content-start flex-grow-1">
            <p class="timeline-details"><%= counter += 1 %></p>
            <h2 class="ml-2"><%= stepactivity.name %></h2>
            <p class="address"><%= stepactivity.address %></p>
          </div>
          <div class="d-flex">
            <p class="ml-4">
              <i class="far fa-clock " style="font-weight: bold; text-align: right;"></i>
            About : <%= stepactivity.duration/60 %>h</p>
          </div>
          <div>
          </div>
        </div>
        <p class="description"><%= stepactivity.description %></p>
      </div>
      <h2 class="card-trip-pricing green">
      <% if stepactivity.price > 0 %>
      <%= stepactivity.price %>€</h2>
      <% else %>
      <h2 class="card-trip-pricing green">Free</h2>
      <% end %>
      <!--       <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/> -->
    </div>
  </div>
</div>
<% end %>
